%h2= @book.title
%img{:src => @book.cover.medium}
%p.authors= @book.creators
%p.publication-date= friendly_date(@book.date)
%p.description= @book.description
%p.subjects= @book.subjects
%p.format= @book.format
%p.publisher= @book.publisher
- if !@book.preview.nil?
  %a.preview{:href => @book.preview} Google Preview
- if !@book.info.nil?
  %a.info{:href => @book.info} Google Info
  
