%article
  %h2= @content["webTitle"]
  %p.publication
    Published on
    %time{:datetime => @content["webPublicationDate"]}
      = friendly_standard_date(@content["webPublicationDate"])
    in
    %span.publication
      = @fields["publication"]
  %p.intro= @fields["trailText"]
  %img.article-thumb{:src => @fields["thumbnail"]}
  - if remove_comments(@fields["body"]).empty?
    .content
      %p Content for this article is protected.
  - else
    .content= @fields["body"]
  %a{:"data-role" => "button", :"data-inline" => "true", :href => @content["webUrl"]} 
    View article on guardian.co.uk